@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

/* Add spacing between pagination links */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed for the desired spacing */
}

.pagination .pagination li {
    margin: 0 5px; /* Adjust the margin to control spacing between links */
}

.pagination .pagination li span {
    padding: 5px 10px; /* Adjust the padding for the links as needed */
}
